name: Install ArgoCD on AKS

on:
workflow_dispatch:
inputs:
aks_cluster_name:
description: "AKS Cluster Name"
required: true
resource_group:
description: "Resource Group"
required: true
namespace:
description: "ArgoCD Namespace"
required: false
default: "argocd"

jobs:
install-argocd:
runs-on: ubuntu-latest

env:
  AKS_CLUSTER_NAME: ${{ github.event.inputs.aks_cluster_name }}
  RESOURCE_GROUP: ${{ github.event.inputs.resource_group }}
  NAMESPACE: ${{ github.event.inputs.namespace }}

steps:
  - name: Checkout Repo
    uses: actions/checkout@v4

  - name: Azure Login
    uses: azure/login@v2
    with:
      client-id: ${{ secrets.AZURE_CLIENT_ID }}
      tenant-id: ${{ secrets.AZURE_TENANT_ID }}
      subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      client-secret: ${{ secrets.AZURE_CLIENT_SECRET }}

  - name: Get AKS Credentials
    run: |
      az aks get-credentials \
        --resource-group $RESOURCE_GROUP \
        --name $AKS_CLUSTER_NAME \
        --overwrite-existing

  - name: Validate Cluster
    run: kubectl get nodes

  - name: Create Namespace
    run: |
      kubectl create namespace $NAMESPACE --dry-run=client -o yaml | kubectl apply -f -
      kubectl get ns $NAMESPACE

  - name: Install ArgoCD
    run: |
      kubectl apply -n $NAMESPACE \
        -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml

  - name: Wait for ArgoCD
    run: |
      kubectl wait --for=condition=Available deployment --all -n $NAMESPACE --timeout=600s
      kubectl get pods -n $NAMESPACE

  - name: Get Admin Password
    run: |
      echo "ARGOCD PASSWORD:"
      kubectl -n $NAMESPACE get secret argocd-initial-admin-secret \
        -o jsonpath="{.data.password}" | base64 -d
